body 
{
    margin : 0 auto;
    background-color: #696969;
}

button
{
    cursor: pointer;
}

#console
{
    border-left: 6px solid #000000;
    border-right: 6px solid #000000;
    border-radius:2px;
    width: 640px;
    height:500px ;
    position: absolute;
    top:10px;
    left:0;
    right:0;
    margin:0 auto;
}
#accueil
{
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    background-image:url(images/DSC06645.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    position: absolute;
    overflow:hidden;  
    z-index:10;    
}
#accueil h1
{
    text-align: center;
}

#accueilListe
{
    list-style-type: none; 
    margin-right: 40px;
}
#accueilMenu
{
     padding: 20px;
     background-color : rgba(0, 0, 0, 0.50);
     width:70%;
     left: 0;
     right: 0;
     margin: 75px auto 0px auto;
     border: solid white 2px;
     border-radius: 4px;     
}
.accueilChoixMenu
{
    background-color : rgba(255, 255, 255, 0.50);
    text-decoration: none;     
    width: 50%;
    text-align: center;
    line-height:34px;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-bottom : 10px;
    border-radius:2px;    
}
.accueilChoixMenu:hover
{
    background-color : rgba(0, 0, 0, 0.50);
    color:white;
    cursor:pointer;
}
#ecran
{
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    position: absolute;
    overflow:hidden;    
}
#blocNomScene1,#blocNomScene2,#blocInfoBulle {
    font-family: 'century gothic';
    font-size:13.5px;
}
#blocNomScene1,#blocNomScene2 {
    font-weight:bold;
}
#deplacement
{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    position : absolute;
    left:0px;
    margin:10px;
    white-space:pre-line;
}

#inventaire
{    
   border-top: 2px solid #FFFFFF;
   border-left: 2px solid #FFFFFF;
   border-bottom: 2px solid #373737;
   border-right: 2px solid #373737; 
   background-color:#C6C6C6;
   border-radius:4px;
   position:absolute;
   margin-top:10px;
   right:0px;
   width:18.6%;
   height:71%;
   top:0px;
   display: none;
   z-index:4; 
}
.caseInventaire
{
    background-color:#8B8B8B;    
    border-top: 2px solid #373737;
    border-left: 2px solid #373737;
    max-width:55px;
    min-width:55px;
    max-height:55px;
    min-height:55px;
    margin: 1px;
    float:left;
}

.caseInventaire span
{
    float: left;
    vertical-align:middle;
}
#dialogue {
    font-family:'century gothic';
    font-size:12px;
    display:none;
    position : absolute;
    color:#FFFFFF;    
    margin:auto;
    border-radius: 0px 10px 10px 0px;
    /*background-color: rgba(0,0,0,0.80);*/
    /*bottom:-8px;*/
    /*left:-1px;*/
    top:79.5%;
    height: 0px;
    width: 72%;
    border-bottom:95px solid rgba(0,0,0,0.65);
    border-right:67px solid transparent;
    z-index:7;
}
#msgDescription  {
    font-style:italic;
}
#actions
{
    right:30%;
    bottom:30% ;
    margin:10px;
}
#menu
{
    position:absolute;
    color:white;
    text-align:center;
    margin-left:70%;
    width:200px;
    bottom:0;
    border-left: 50px solid transparent;
    border-bottom: 50px solid black;
    /*opacity:80%;*/
    z-index: 8;
}
button
{
    border-radius:10px;
    border: none;
}
.boutonMenu
{
    width:42px;
    height:42px;
    position:absolute;
    margin-top:4px;
    z-index:1;
}
#boutonInventaire
{
    background: url(images/inventaire.png) no-repeat center;
    background-size: 30px 30px;
    margin-left:-102px;

}
#boutonSon
{
    background: url(images/son2.png) no-repeat center;
    margin-left:-62px;
}
#boutonMusique
{
    background: url(images/musique2.png) no-repeat center;
    margin-left:-22px;
}

/* INTERNET EXPLORER 9,10,11 */
/*
:root #boutonInventaire
{
	 margin-left:0px \0/IE9;
}
:root #boutonSon
{
	 margin-left:43px \0/IE9;
}
:root #boutonMusique
{
	 margin-left:85px \0/IE9;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#boutonInventaire {
		margin-left:0px;
	}
	#boutonSon {
		margin-left:43px;
	}
	#boutonMusique {
		margin-left:85px;
	}
}
*/
/* ======================== */



#objet
{
	position : absolute;
	bottom:35%;
	margin:10px;
}

.bandesNoires
{
    position:absolute;
    height:10px;
    background : black;
    width:100%;
    z-index:0;
}
#bandeNoiresHautes
{
    top:0;
    z-index: 10;
}
#bandeNoiresBasses
{
    bottom:0;
    z-index: 10;
}

#panneauTransition
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: #282828;
    z-index: 9;
}
#texteTransition
{
    text-align: center;
    margin-top: 34%;
    color: white;
}
#poursuivre
{
    display:none;
    width:50px;
    height:50px;
    background:white;
    position:absolute;
    margin-left:482px;
    margin-top:15px;   
}
#antiClicProvisoire2
{
    position:absolute;
    margin-top:-73px;
    opacity:0;
    width: 100%;
    height: 100%;
    z-index:13;
}
#fleche
{
    position:absolute;
    background: url('images/fleche.png');
    margin-top:8px;
    margin-left:5px;
    width: 9px;
    height: 8px;
    animation: play 0.5s steps(2) infinite;
    -webkit-animation: play 0.5s steps(2) infinite;
}

@keyframes play {
    100% { background-position: -18px; }
}

@-webkit-keyframes play {
    100% { background-position: -18px; }
}
#notification
{
    border-radius:10px;
}
#nomPNJ
{
    position : absolute;
    width: 90px;
    height: auto;
    display: block;
    background-color : rgba(0, 0, 0, 0.65);
    color:white;
    text-align : center;
    font-family : century gothic;
    font-size : 14px;
    font-weight : bold;
    vertical-align : middle;
    padding : 5px;
    bottom : 20.5%;
    border-bottom: 1px solid white;
    border-top-right-radius: 20px;
    z-index : 7;
}
#M.AUGER
{
    visibility: hidden;
}
