#ecran
{
	background-color:#FF6161;	/* #797CBA */
	margin-left: 25%;
	min-height:40%;
	max-height:40%;
	width:50%;
	position : absolute;
	border-radius:10px;
	overflow: hidden;
	padding : 10px;
}


@media all and (max-height: 1070px)
{
	#ecran
	{
		min-height:70%;
		max-height:70%;
		width:60%;
		margin-left: 19%;
	}
}