body
{
    margin:0px;
}
#console
{
    width: 598px;
    height:560px ;
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
}


#ecran
{
    min-height: 80%;
    max-height: 80%;
    width: 100%;
    position: absolute;
}

#deplacement
{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    position : absolute;
    left:0px;
    margin:10px;
    white-space:pre-line;
}

#inventaire
{ 
   border: 4px solid #580000;
   background-color: #DF8659;
   position : absolute;
   right:0px;
   width:20%;
   height:98%;
   top:0px;
   display: none;
   z-index:1; 
}

#menu
{
     background-color: #BEBEBE;
}

#dialogue
{
    position : absolute;
    border: 4px solid #145A4F;
    background-color: #178977;
    bottom:0px;
    height: 20%;
    width: 98.7%;
}

#choixPorte
{
    display:block;
    right:10%;
    position:absolute;
}

#objet
{
	position : absolute;
	bottom:35%;
	margin:10px;
}

#actions
{
    position : absolute;
    right:30%;
    bottom:30% ;
    margin:10px;
}

button
{
    color:#ff4000; 
    border-radius:16px;
}

/* -----------------------------------------Gestion pour les plus petit ecran----------------------------------------- */
@media all and (max-height: 1070px)
{
	#ecran
	{
		min-height:75%;
		max-height:75%;
		width:100%;	
	}
        
        #console
        {
            width: 600px;
            height:600px ;
            position: absolute;
            left:0;
            right:0;
            margin:0 auto;
        }
        
        #dialogue
        {
            position : absolute;
            border: 4px solid #145A4F;
            background-color: #178977;
            bottom:22px;
            height: 20%;
            width: 98.7%;
        }
}